DB_URL=

REDIS_URL=
CELERY_BROKER_URL=
CELERY_BACKEND_URL=

MODEL_PATH=

SHARED_VOLUME="/shared"

HOT_S3_KEY=
HOT_S3_SECRET=
HOT_S3_BUCKET=
HOT_S3_REGION=
HOT_S3_ENDPOINT=

COLD_S3_KEY=
COLD_S3_SECRET=
COLD_S3_BUCKET=
COLD_S3_REGION=
COLD_S3_ENDPOINT=
